
body {
	background-color: lightgrey;
	}

h1 {
	color: darkblue;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 4px 4px 4px #aaa;
	text-align: left;
	font-size: 95%;
}

h2, h3 {
	
	color: darkblue;
	text-shadow: 4px 4px 4px #aaa;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: darkblue;
    font-family: 'Open Sans', sans-serif;}


ul {
	color: darkblue;
    font-family: 'Open Sans', sans-serif;
   	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 200%
	
}



[class*='col-'] {
  float: left;
}

.col-sidebar {
  width: 20%;
}
.col-main {
  width: 40%;
}
.col-main2 {
	padding-top: 250px;
	width: 40%;
}