
body {
    background:black;
    font-family: 'Consolas';
   }

.row {
    display:flex;
    flex-direction: row;	
   }

.tex {
    width: 85%;
    height: 70px;
    background: black;
    color: #00BEEF;
    border: 1px solid #00beef;
    border-image: none;
    resize: none;
   }

.out {
    height: 80%;
    width: 100%;
    color: #00BEEF;
    font-size: 14px;
   }
.but {
    background: #00BEEF;
    border: none;
    font-family: fantasy;
    font-size: 45px;
    justify-content: space-around;
    width: 320px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
   }

.gar {
    flex-direction: column;
    flex: 0 1 100%;
    width: 50px;
    padding-left: 10px;
    }
.han {
    flex: 0 1 5%;
    background: black;
    width: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    position: relative;
    top: 1px;
    }

.lid {
    flex: 0 1 10%;
    background: black;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 10px;
    border-bottom: 2px solid #00beef;
   }

.bin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 5px;
    flex: 1 0 85%;
    border-bottom-left-radius: 5px;
    position: relative;
    }

.ver {
    height: 29px;
    width: 5%;
    border-radius: 5px;
    background: #00BEEF;
    margin-top: 5px;
    margin-bottom: 5px;
    }